<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.p2pSSM.mapper.waz.WazUsersMapper" >
  <resultMap id="BaseResultMap" type="com.zking.p2pSSM.model.Users" >
    <constructor >
      <idArg column="uid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="unickname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="uname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="umailbox" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="uphonenumber" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="uregisterdate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="uflip" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ufldate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="ureferrer" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ureferrername" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="userpaytoid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ucertnumber" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="upassword" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ucardid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="uhead" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="upwd_zd" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    uid, unickname, uname, umailbox, uphonenumber, uregisterdate, uflip, ufldate, ureferrer, 
    ureferrername, userpaytoid, ucertnumber, upassword, ucardid, uhead, upwd_zd
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from users
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from users
    where uid = #{uid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.p2pSSM.model.Users" >
    insert into users (uid, unickname, uname, 
      umailbox, uphonenumber, uregisterdate, 
      uflip, ufldate, ureferrer, 
      ureferrername, userpaytoid, ucertnumber, 
      upassword, ucardid, uhead, 
      upwd_zd)
    values (#{uid,jdbcType=INTEGER}, #{unickname,jdbcType=VARCHAR}, #{uname,jdbcType=VARCHAR}, 
      #{umailbox,jdbcType=VARCHAR}, #{uphonenumber,jdbcType=VARCHAR}, #{uregisterdate,jdbcType=TIMESTAMP}, 
      #{uflip,jdbcType=VARCHAR}, #{ufldate,jdbcType=TIMESTAMP}, #{ureferrer,jdbcType=VARCHAR}, 
      #{ureferrername,jdbcType=VARCHAR}, #{userpaytoid,jdbcType=VARCHAR}, #{ucertnumber,jdbcType=VARCHAR}, 
      #{upassword,jdbcType=VARCHAR}, #{ucardid,jdbcType=VARCHAR}, #{uhead,jdbcType=VARCHAR}, 
      #{upwd_zd,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.p2pSSM.model.Users" >
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="unickname != null" >
        unickname,
      </if>
      <if test="uname != null" >
        uname,
      </if>
      <if test="umailbox != null" >
        umailbox,
      </if>
      <if test="uphonenumber != null" >
        uphonenumber,
      </if>
      <if test="uregisterdate != null" >
        uregisterdate,
      </if>
      <if test="uflip != null" >
        uflip,
      </if>
      <if test="ufldate != null" >
        ufldate,
      </if>
      <if test="ureferrer != null" >
        ureferrer,
      </if>
      <if test="ureferrername != null" >
        ureferrername,
      </if>
      <if test="userpaytoid != null" >
        userpaytoid,
      </if>
      <if test="ucertnumber != null" >
        ucertnumber,
      </if>
      <if test="upassword != null" >
        upassword,
      </if>
      <if test="ucardid != null" >
        ucardid,
      </if>
      <if test="uhead != null" >
        uhead,
      </if>
      <if test="upwd_zd != null" >
        upwd_zd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="unickname != null" >
        #{unickname,jdbcType=VARCHAR},
      </if>
      <if test="uname != null" >
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="umailbox != null" >
        #{umailbox,jdbcType=VARCHAR},
      </if>
      <if test="uphonenumber != null" >
        #{uphonenumber,jdbcType=VARCHAR},
      </if>
      <if test="uregisterdate != null" >
        #{uregisterdate,jdbcType=TIMESTAMP},
      </if>
      <if test="uflip != null" >
        #{uflip,jdbcType=VARCHAR},
      </if>
      <if test="ufldate != null" >
        #{ufldate,jdbcType=TIMESTAMP},
      </if>
      <if test="ureferrer != null" >
        #{ureferrer,jdbcType=VARCHAR},
      </if>
      <if test="ureferrername != null" >
        #{ureferrername,jdbcType=VARCHAR},
      </if>
      <if test="userpaytoid != null" >
        #{userpaytoid,jdbcType=VARCHAR},
      </if>
      <if test="ucertnumber != null" >
        #{ucertnumber,jdbcType=VARCHAR},
      </if>
      <if test="upassword != null" >
        #{upassword,jdbcType=VARCHAR},
      </if>
      <if test="ucardid != null" >
        #{ucardid,jdbcType=VARCHAR},
      </if>
      <if test="uhead != null" >
        #{uhead,jdbcType=VARCHAR},
      </if>
      <if test="upwd_zd != null" >
        #{upwd_zd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.p2pSSM.model.Users" >
    update users
    <set >
      <if test="unickname != null" >
        unickname = #{unickname,jdbcType=VARCHAR},
      </if>
      <if test="uname != null" >
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="umailbox != null" >
        umailbox = #{umailbox,jdbcType=VARCHAR},
      </if>
      <if test="uphonenumber != null" >
        uphonenumber = #{uphonenumber,jdbcType=VARCHAR},
      </if>
      <if test="uregisterdate != null" >
        uregisterdate = #{uregisterdate,jdbcType=TIMESTAMP},
      </if>
      <if test="uflip != null" >
        uflip = #{uflip,jdbcType=VARCHAR},
      </if>
      <if test="ufldate != null" >
        ufldate = #{ufldate,jdbcType=TIMESTAMP},
      </if>
      <if test="ureferrer != null" >
        ureferrer = #{ureferrer,jdbcType=VARCHAR},
      </if>
      <if test="ureferrername != null" >
        ureferrername = #{ureferrername,jdbcType=VARCHAR},
      </if>
      <if test="userpaytoid != null" >
        userpaytoid = #{userpaytoid,jdbcType=VARCHAR},
      </if>
      <if test="ucertnumber != null" >
        ucertnumber = #{ucertnumber,jdbcType=VARCHAR},
      </if>
      <if test="upassword != null" >
        upassword = #{upassword,jdbcType=VARCHAR},
      </if>
      <if test="ucardid != null" >
        ucardid = #{ucardid,jdbcType=VARCHAR},
      </if>
      <if test="uhead != null" >
        uhead = #{uhead,jdbcType=VARCHAR},
      </if>
      <if test="upwd_zd != null" >
        upwd_zd = #{upwd_zd,jdbcType=VARCHAR},
      </if>
    </set>
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.p2pSSM.model.Users" >
    update users
    set unickname = #{unickname,jdbcType=VARCHAR},
      uname = #{uname,jdbcType=VARCHAR},
      umailbox = #{umailbox,jdbcType=VARCHAR},
      uphonenumber = #{uphonenumber,jdbcType=VARCHAR},
      uregisterdate = #{uregisterdate,jdbcType=TIMESTAMP},
      uflip = #{uflip,jdbcType=VARCHAR},
      ufldate = #{ufldate,jdbcType=TIMESTAMP},
      ureferrer = #{ureferrer,jdbcType=VARCHAR},
      ureferrername = #{ureferrername,jdbcType=VARCHAR},
      userpaytoid = #{userpaytoid,jdbcType=VARCHAR},
      ucertnumber = #{ucertnumber,jdbcType=VARCHAR},
      upassword = #{upassword,jdbcType=VARCHAR},
      ucardid = #{ucardid,jdbcType=VARCHAR},
      uhead = #{uhead,jdbcType=VARCHAR},
      upwd_zd = #{upwd_zd,jdbcType=VARCHAR}
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  <select id="login" resultType="com.zking.p2pSSM.model.Users" parameterType="com.zking.p2pSSM.model.Users" >
    select
    <include refid="Base_Column_List" />
    from users
    where unickname=#{unickname} and upassword=#{upassword}
  </select>
    <select id="userCount" resultType="java.lang.Integer">
      select count(*) from users
    </select>
  <select id="userCountByMarkmoney" resultType="java.lang.Integer">
      select count(markmoney) from investstat
    </select>
  <select id="userCountByMarkgain" resultType="java.lang.Integer">
      select count(markgain) from investstat
    </select>
</mapper>