<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.p2pSSM.mapper.wha.BankcardMapper" >
  <resultMap id="BaseResultMap" type="com.zking.p2pSSM.model.Bankcard" >
    <constructor >
      <idArg column="bID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="uID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="uname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="zname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sfz" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="khh" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cardid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="tjtime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="statu" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    bID, uID, uname, zname, sfz, khh, cardid, tjtime, statu
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bankcard
    where bID = #{bID,jdbcType=INTEGER}
  </select>
    <select id="queryBankcard" resultMap="BaseResultMap" parameterType="map">
      select
      <include refid="Base_Column_List" />
      from bankcard
      where 1=1
      <if test="uname !=null and uname !='' ">
        and  uname like concat(concat('%',#{uname}),'%')
      </if>
      <if test="zname !=null and zname !='' ">
        and  zname like concat(concat('%',#{zname}),'%')
      </if>
      <if test="yyy !=null and yyy!=''  and yyyy !=null  and yyyy!='' ">
        and  STR_TO_DATE(tjtime,'%Y-%m-%d')
        BETWEEN STR_TO_DATE(#{yyy},'%Y-%m-%d') AND STR_TO_DATE(#{yyyy},'%Y-%m-%d')
      </if>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bankcard
    where bID = #{bID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.p2pSSM.model.Bankcard" >
    insert into bankcard (bID, uID, uname, 
      zname, sfz, khh, cardid, 
      tjtime, statu)
    values (#{bID,jdbcType=INTEGER}, #{uID,jdbcType=INTEGER}, #{uname,jdbcType=VARCHAR}, 
      #{zname,jdbcType=VARCHAR}, #{sfz,jdbcType=VARCHAR}, #{khh,jdbcType=VARCHAR}, #{cardid,jdbcType=VARCHAR}, 
      #{tjtime,jdbcType=TIMESTAMP}, #{statu,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.p2pSSM.model.Bankcard" >
    insert into bankcard
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bID != null" >
        bID,
      </if>
      <if test="uID != null" >
        uID,
      </if>
      <if test="uname != null" >
        uname,
      </if>
      <if test="zname != null" >
        zname,
      </if>
      <if test="sfz != null" >
        sfz,
      </if>
      <if test="khh != null" >
        khh,
      </if>
      <if test="cardid != null" >
        cardid,
      </if>
      <if test="tjtime != null" >
        tjtime,
      </if>
      <if test="statu != null" >
        statu,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bID != null" >
        #{bID,jdbcType=INTEGER},
      </if>
      <if test="uID != null" >
        #{uID,jdbcType=INTEGER},
      </if>
      <if test="uname != null" >
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="zname != null" >
        #{zname,jdbcType=VARCHAR},
      </if>
      <if test="sfz != null" >
        #{sfz,jdbcType=VARCHAR},
      </if>
      <if test="khh != null" >
        #{khh,jdbcType=VARCHAR},
      </if>
      <if test="cardid != null" >
        #{cardid,jdbcType=VARCHAR},
      </if>
      <if test="tjtime != null" >
        #{tjtime,jdbcType=TIMESTAMP},
      </if>
      <if test="statu != null" >
        #{statu,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.p2pSSM.model.Bankcard" >
    update bankcard
    <set >
      <if test="uID != null" >
        uID = #{uID,jdbcType=INTEGER},
      </if>
      <if test="uname != null" >
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="zname != null" >
        zname = #{zname,jdbcType=VARCHAR},
      </if>
      <if test="sfz != null" >
        sfz = #{sfz,jdbcType=VARCHAR},
      </if>
      <if test="khh != null" >
        khh = #{khh,jdbcType=VARCHAR},
      </if>
      <if test="cardid != null" >
        cardid = #{cardid,jdbcType=VARCHAR},
      </if>
      <if test="tjtime != null" >
        tjtime = #{tjtime,jdbcType=TIMESTAMP},
      </if>
      <if test="statu != null" >
        statu = #{statu,jdbcType=VARCHAR},
      </if>
    </set>
    where bID = #{bID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.p2pSSM.model.Bankcard" >
    update bankcard
    set uID = #{uID,jdbcType=INTEGER},
      uname = #{uname,jdbcType=VARCHAR},
      zname = #{zname,jdbcType=VARCHAR},
      sfz = #{sfz,jdbcType=VARCHAR},
      khh = #{khh,jdbcType=VARCHAR},
      cardid = #{cardid,jdbcType=VARCHAR},
      tjtime = #{tjtime,jdbcType=TIMESTAMP},
      statu = #{statu,jdbcType=VARCHAR}
    where bID = #{bID,jdbcType=INTEGER}
  </update>
</mapper>