<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.p2pSSM.mapper.wha.CertifrecordMapper" >
  <resultMap id="BaseResultMap" type="com.zking.p2pSSM.model.Certifrecord" >
    <constructor >
      <idArg column="crid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="cruserid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="crusername" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="craiid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="crainame" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="craitype" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="crispass" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="crdate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="crauditor" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="crintegral" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="crviewpoint" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="crimg" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="crupldate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    crid, cruserid, crusername, craiid, crainame, craitype, crispass, crdate, crauditor, 
    crintegral, crviewpoint, crimg, crupldate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from certifrecord
    where crid = #{crid,jdbcType=INTEGER}
  </select>
    <select id="queryCertifrecord" resultMap="BaseResultMap" parameterType="map">
       select
       <include refid="Base_Column_List" />
       from certifrecord
       where 1=1
        <if test="crid !=null and crid !='' ">
            and  crid  = #{crid}
        </if>
      <if test="cruserid != null and cruserid != '' ">
        and  cruserid = #{cruserid}
      </if>
      <if test="crusername != null and crusername != '' ">
        and crusername like  '%${crusername}%'
      </if>
      <if test="craiid != null and craiid != '' ">
        and craiid =  #{craiid}
      </if>
      <if test="crainame != null and crainame != '' ">
        and crainame like  '%${crainame}%'
      </if>
      <if test="craitype != null and craitype != '' ">
        and craitype like  '%${craitype}%'
      </if>
      <if test="crispass != null and crispass != '' ">
        and crispass like  '%${crispass}%'
      </if>
      <if test="crauditor != null and crauditor != '' ">
        and crauditor like  '%${crauditor}%'
      </if>
      <if test="crintegral != null and crintegral != '' ">
        and crintegral like '%${crintegral}%'
      </if>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from certifrecord
    where crid = #{crid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.p2pSSM.model.Certifrecord" >
    insert into certifrecord (crid, cruserid, crusername, 
      craiid, crainame, craitype, 
      crispass, crdate, crauditor, 
      crintegral, crviewpoint, crimg, 
      crupldate)
    values (#{crid,jdbcType=INTEGER}, #{cruserid,jdbcType=INTEGER}, #{crusername,jdbcType=VARCHAR}, 
      #{craiid,jdbcType=INTEGER}, #{crainame,jdbcType=VARCHAR}, #{craitype,jdbcType=VARCHAR}, 
      #{crispass,jdbcType=VARCHAR}, #{crdate,jdbcType=TIMESTAMP}, #{crauditor,jdbcType=VARCHAR}, 
      #{crintegral,jdbcType=INTEGER}, #{crviewpoint,jdbcType=VARCHAR}, #{crimg,jdbcType=VARCHAR}, 
      #{crupldate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.p2pSSM.model.Certifrecord" >
    insert into certifrecord
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="crid != null" >
        crid,
      </if>
      <if test="cruserid != null" >
        cruserid,
      </if>
      <if test="crusername != null" >
        crusername,
      </if>
      <if test="craiid != null" >
        craiid,
      </if>
      <if test="crainame != null" >
        crainame,
      </if>
      <if test="craitype != null" >
        craitype,
      </if>
      <if test="crispass != null" >
        crispass,
      </if>
      <if test="crdate != null" >
        crdate,
      </if>
      <if test="crauditor != null" >
        crauditor,
      </if>
      <if test="crintegral != null" >
        crintegral,
      </if>
      <if test="crviewpoint != null" >
        crviewpoint,
      </if>
      <if test="crimg != null" >
        crimg,
      </if>
      <if test="crupldate != null" >
        crupldate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="crid != null" >
        #{crid,jdbcType=INTEGER},
      </if>
      <if test="cruserid != null" >
        #{cruserid,jdbcType=INTEGER},
      </if>
      <if test="crusername != null" >
        #{crusername,jdbcType=VARCHAR},
      </if>
      <if test="craiid != null" >
        #{craiid,jdbcType=INTEGER},
      </if>
      <if test="crainame != null" >
        #{crainame,jdbcType=VARCHAR},
      </if>
      <if test="craitype != null" >
        #{craitype,jdbcType=VARCHAR},
      </if>
      <if test="crispass != null" >
        #{crispass,jdbcType=VARCHAR},
      </if>
      <if test="crdate != null" >
        #{crdate,jdbcType=TIMESTAMP},
      </if>
      <if test="crauditor != null" >
        #{crauditor,jdbcType=VARCHAR},
      </if>
      <if test="crintegral != null" >
        #{crintegral,jdbcType=INTEGER},
      </if>
      <if test="crviewpoint != null" >
        #{crviewpoint,jdbcType=VARCHAR},
      </if>
      <if test="crimg != null" >
        #{crimg,jdbcType=VARCHAR},
      </if>
      <if test="crupldate != null" >
        #{crupldate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.p2pSSM.model.Certifrecord" >
    update certifrecord
    <set >
      <if test="cruserid != null" >
        cruserid = #{cruserid,jdbcType=INTEGER},
      </if>
      <if test="crusername != null" >
        crusername = #{crusername,jdbcType=VARCHAR},
      </if>
      <if test="craiid != null" >
        craiid = #{craiid,jdbcType=INTEGER},
      </if>
      <if test="crainame != null" >
        crainame = #{crainame,jdbcType=VARCHAR},
      </if>
      <if test="craitype != null" >
        craitype = #{craitype,jdbcType=VARCHAR},
      </if>
      <if test="crispass != null" >
        crispass = #{crispass,jdbcType=VARCHAR},
      </if>
      <if test="crdate != null" >
        crdate = #{crdate,jdbcType=TIMESTAMP},
      </if>
      <if test="crauditor != null" >
        crauditor = #{crauditor,jdbcType=VARCHAR},
      </if>
      <if test="crintegral != null" >
        crintegral = #{crintegral,jdbcType=INTEGER},
      </if>
      <if test="crviewpoint != null" >
        crviewpoint = #{crviewpoint,jdbcType=VARCHAR},
      </if>
      <if test="crimg != null" >
        crimg = #{crimg,jdbcType=VARCHAR},
      </if>
      <if test="crupldate != null" >
        crupldate = #{crupldate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where crid = #{crid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.p2pSSM.model.Certifrecord" >
    update certifrecord
    set cruserid = #{cruserid,jdbcType=INTEGER},
      crusername = #{crusername,jdbcType=VARCHAR},
      craiid = #{craiid,jdbcType=INTEGER},
      crainame = #{crainame,jdbcType=VARCHAR},
      craitype = #{craitype,jdbcType=VARCHAR},
      crispass = #{crispass,jdbcType=VARCHAR},
      crdate = #{crdate,jdbcType=TIMESTAMP},
      crauditor = #{crauditor,jdbcType=VARCHAR},
      crintegral = #{crintegral,jdbcType=INTEGER},
      crviewpoint = #{crviewpoint,jdbcType=VARCHAR},
      crimg = #{crimg,jdbcType=VARCHAR},
      crupldate = #{crupldate,jdbcType=TIMESTAMP}
    where crid = #{crid,jdbcType=INTEGER}
  </update>
</mapper>