<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.p2pSSM.mapper.wha.GroupMapper" >
  <resultMap id="BaseResultMap" type="com.zking.p2pSSM.model.Group" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="gnumber" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="group" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="gmembership" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="gremark" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="gaddpeople" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="gstate" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, gnumber, group, gmembership, gremark, gaddpeople, gstate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from group
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.p2pSSM.model.Group" >
    insert into group (id, gnumber, group, 
      gmembership, gremark, gaddpeople, 
      gstate)
    values (#{id,jdbcType=INTEGER}, #{gnumber,jdbcType=INTEGER}, #{group,jdbcType=VARCHAR}, 
      #{gmembership,jdbcType=VARCHAR}, #{gremark,jdbcType=VARCHAR}, #{gaddpeople,jdbcType=VARCHAR}, 
      #{gstate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.p2pSSM.model.Group" >
    insert into group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gnumber != null" >
        gnumber,
      </if>
      <if test="group != null" >
        group,
      </if>
      <if test="gmembership != null" >
        gmembership,
      </if>
      <if test="gremark != null" >
        gremark,
      </if>
      <if test="gaddpeople != null" >
        gaddpeople,
      </if>
      <if test="gstate != null" >
        gstate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gnumber != null" >
        #{gnumber,jdbcType=INTEGER},
      </if>
      <if test="group != null" >
        #{group,jdbcType=VARCHAR},
      </if>
      <if test="gmembership != null" >
        #{gmembership,jdbcType=VARCHAR},
      </if>
      <if test="gremark != null" >
        #{gremark,jdbcType=VARCHAR},
      </if>
      <if test="gaddpeople != null" >
        #{gaddpeople,jdbcType=VARCHAR},
      </if>
      <if test="gstate != null" >
        #{gstate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.p2pSSM.model.Group" >
    update group
    <set >
      <if test="gnumber != null" >
        gnumber = #{gnumber,jdbcType=INTEGER},
      </if>
      <if test="group != null" >
        group = #{group,jdbcType=VARCHAR},
      </if>
      <if test="gmembership != null" >
        gmembership = #{gmembership,jdbcType=VARCHAR},
      </if>
      <if test="gremark != null" >
        gremark = #{gremark,jdbcType=VARCHAR},
      </if>
      <if test="gaddpeople != null" >
        gaddpeople = #{gaddpeople,jdbcType=VARCHAR},
      </if>
      <if test="gstate != null" >
        gstate = #{gstate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.p2pSSM.model.Group" >
    update group
    set gnumber = #{gnumber,jdbcType=INTEGER},
      group = #{group,jdbcType=VARCHAR},
      gmembership = #{gmembership,jdbcType=VARCHAR},
      gremark = #{gremark,jdbcType=VARCHAR},
      gaddpeople = #{gaddpeople,jdbcType=VARCHAR},
      gstate = #{gstate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>