<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.p2pSSM.mapper.wha.InactiveuserMapper" >
  <resultMap id="BaseResultMap" type="com.zking.p2pSSM.model.Inactiveuser" >
    <constructor >
      <idArg column="iid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="iuname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="idmailbox" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="iCreatetime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    iid, iuname, idmailbox, iCreatetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from inactiveuser
    where iid = #{iid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from inactiveuser
    where iid = #{iid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.p2pSSM.model.Inactiveuser" >
    insert into inactiveuser (iid, iuname, idmailbox, 
      iCreatetime)
    values (#{iid,jdbcType=INTEGER}, #{iuname,jdbcType=VARCHAR}, #{idmailbox,jdbcType=VARCHAR}, 
      #{iCreatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.p2pSSM.model.Inactiveuser" >
    insert into inactiveuser
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="iid != null" >
        iid,
      </if>
      <if test="iuname != null" >
        iuname,
      </if>
      <if test="idmailbox != null" >
        idmailbox,
      </if>
      <if test="iCreatetime != null" >
        iCreatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="iid != null" >
        #{iid,jdbcType=INTEGER},
      </if>
      <if test="iuname != null" >
        #{iuname,jdbcType=VARCHAR},
      </if>
      <if test="idmailbox != null" >
        #{idmailbox,jdbcType=VARCHAR},
      </if>
      <if test="iCreatetime != null" >
        #{iCreatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.p2pSSM.model.Inactiveuser" >
    update inactiveuser
    <set >
      <if test="iuname != null" >
        iuname = #{iuname,jdbcType=VARCHAR},
      </if>
      <if test="idmailbox != null" >
        idmailbox = #{idmailbox,jdbcType=VARCHAR},
      </if>
      <if test="iCreatetime != null" >
        iCreatetime = #{iCreatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where iid = #{iid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.p2pSSM.model.Inactiveuser" >
    update inactiveuser
    set iuname = #{iuname,jdbcType=VARCHAR},
      idmailbox = #{idmailbox,jdbcType=VARCHAR},
      iCreatetime = #{iCreatetime,jdbcType=TIMESTAMP}
    where iid = #{iid,jdbcType=INTEGER}
  </update>
</mapper>