<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.p2pSSM.mapper.wha.LimiMapper" >
  <resultMap id="BaseResultMap" type="com.zking.p2pSSM.model.Limi" >
    <constructor >
      <idArg column="lid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="did" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="mid" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    lid, did, mid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from limi
    where did = #{did,jdbcType=INTEGER}
  </select>
  <select id="queryLimi" resultMap="BaseResultMap" parameterType="com.zking.p2pSSM.model.Limi">
    select
    <include refid="Base_Column_List" />
     from limi
     where 1=1
    <if test="did != null and did != '' ">
      and did=#{did}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from limi
    where lid = #{lid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.p2pSSM.model.Limi" >
    insert into limi (lid, did, mid
      )
    values (#{lid,jdbcType=INTEGER}, #{did,jdbcType=INTEGER}, #{mid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zking.p2pSSM.model.Limi" >
    insert into limi
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lid != null" >
        lid,
      </if>
      <if test="did != null" >
        did,
      </if>
      <if test="mid != null" >
        mid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lid != null" >
        #{lid,jdbcType=INTEGER},
      </if>
      <if test="did != null" >
        #{did,jdbcType=INTEGER},
      </if>
      <if test="mid != null" >
        #{mid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.p2pSSM.model.Limi" >
    update limi
    <set >
      <if test="did != null" >
        did = #{did,jdbcType=INTEGER},
      </if>
      <if test="mid != null" >
        mid = #{mid,jdbcType=VARCHAR},
      </if>
    </set>
    where lid = #{lid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.p2pSSM.model.Limi" >
    update limi
    set did = #{did,jdbcType=INTEGER},
      mid = #{mid,jdbcType=VARCHAR}
    where lid = #{lid,jdbcType=INTEGER}
  </update>
</mapper>