<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.p2pSSM.mapper.wha.UserauditorMapper" >
  <resultMap id="BaseResultMap" type="com.zking.p2pSSM.model.Userauditor" >
    <constructor >
      <idArg column="uaid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="userid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="username" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="uauditorid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="uauditor" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    uaid, userid, username, uauditorid, uauditor
  </sql>

  <select id="queryUserauditor" resultMap="BaseResultMap" parameterType="map">
    select * from userauditor where 1=1
    <if test="uaid!=null and uaid != ''">
      and uaid like  concat(concat('%',#{uaid}),'%')
    </if>
    <if test="userid!=null and userid != ''">
      and userid like  concat(concat('%',#{userid}),'%')
    </if>
    <if test="username!=null and username != ''">
      and username like  concat(concat('%',#{username}),'%')
    </if>
    <if test="uauditorid!=null and uauditorid != ''">
      and uauditorid like  concat(concat('%',#{uauditorid}),'%')
    </if>
    <if test="uauditor!=null and uauditor != ''">
      and uauditor like  concat(concat('%',#{uauditor}),'%')
    </if>
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from userauditor
    where uaid = #{uaid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.p2pSSM.model.Userauditor" >
    insert into userauditor (uaid, userid, username, 
      uauditorid, uauditor)
    values (#{uaid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, 
      #{uauditorid,jdbcType=INTEGER}, #{uauditor,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.p2pSSM.model.Userauditor" >
    insert into userauditor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uaid != null" >
        uaid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="uauditorid != null" >
        uauditorid,
      </if>
      <if test="uauditor != null" >
        uauditor,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uaid != null" >
        #{uaid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="uauditorid != null" >
        #{uauditorid,jdbcType=INTEGER},
      </if>
      <if test="uauditor != null" >
        #{uauditor,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

</mapper>