<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.p2pSSM.mapper.wha.WithdrawalMapper" >
  <resultMap id="BaseResultMap" type="com.zking.p2pSSM.model.Withdrawal" >
    <constructor >
      <idArg column="wID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="uID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="uname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="zname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="txnum" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="txbank" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="txmoney" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dzmoney" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sxf" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="txtime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="zztime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="statu" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="shwho" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="shtime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="nothing" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    wID, uID, uname, zname, txnum, txbank, txmoney, dzmoney, sxf, txtime, zztime, statu, 
    shwho, shtime, nothing
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from withdrawal
    where wID = #{wID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from withdrawal
    where wID = #{wID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.p2pSSM.model.Withdrawal" >
    insert into withdrawal (wID, uID, uname, 
      zname, txnum, txbank, 
      txmoney, dzmoney, sxf, 
      txtime, zztime, statu, 
      shwho, shtime, nothing
      )
    values (#{wID,jdbcType=INTEGER}, #{uID,jdbcType=INTEGER}, #{uname,jdbcType=VARCHAR}, 
      #{zname,jdbcType=VARCHAR}, #{txnum,jdbcType=VARCHAR}, #{txbank,jdbcType=VARCHAR}, 
      #{txmoney,jdbcType=VARCHAR}, #{dzmoney,jdbcType=VARCHAR}, #{sxf,jdbcType=VARCHAR}, 
      #{txtime,jdbcType=TIMESTAMP}, #{zztime,jdbcType=TIMESTAMP}, #{statu,jdbcType=VARCHAR}, 
      #{shwho,jdbcType=VARCHAR}, #{shtime,jdbcType=TIMESTAMP}, #{nothing,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zking.p2pSSM.model.Withdrawal" >
    insert into withdrawal
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wID != null" >
        wID,
      </if>
      <if test="uID != null" >
        uID,
      </if>
      <if test="uname != null" >
        uname,
      </if>
      <if test="zname != null" >
        zname,
      </if>
      <if test="txnum != null" >
        txnum,
      </if>
      <if test="txbank != null" >
        txbank,
      </if>
      <if test="txmoney != null" >
        txmoney,
      </if>
      <if test="dzmoney != null" >
        dzmoney,
      </if>
      <if test="sxf != null" >
        sxf,
      </if>
      <if test="txtime != null" >
        txtime,
      </if>
      <if test="zztime != null" >
        zztime,
      </if>
      <if test="statu != null" >
        statu,
      </if>
      <if test="shwho != null" >
        shwho,
      </if>
      <if test="shtime != null" >
        shtime,
      </if>
      <if test="nothing != null" >
        nothing,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wID != null" >
        #{wID,jdbcType=INTEGER},
      </if>
      <if test="uID != null" >
        #{uID,jdbcType=INTEGER},
      </if>
      <if test="uname != null" >
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="zname != null" >
        #{zname,jdbcType=VARCHAR},
      </if>
      <if test="txnum != null" >
        #{txnum,jdbcType=VARCHAR},
      </if>
      <if test="txbank != null" >
        #{txbank,jdbcType=VARCHAR},
      </if>
      <if test="txmoney != null" >
        #{txmoney,jdbcType=VARCHAR},
      </if>
      <if test="dzmoney != null" >
        #{dzmoney,jdbcType=VARCHAR},
      </if>
      <if test="sxf != null" >
        #{sxf,jdbcType=VARCHAR},
      </if>
      <if test="txtime != null" >
        #{txtime,jdbcType=TIMESTAMP},
      </if>
      <if test="zztime != null" >
        #{zztime,jdbcType=TIMESTAMP},
      </if>
      <if test="statu != null" >
        #{statu,jdbcType=VARCHAR},
      </if>
      <if test="shwho != null" >
        #{shwho,jdbcType=VARCHAR},
      </if>
      <if test="shtime != null" >
        #{shtime,jdbcType=TIMESTAMP},
      </if>
      <if test="nothing != null" >
        #{nothing,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.p2pSSM.model.Withdrawal" >
    update withdrawal
    <set >
      <if test="uID != null" >
        uID = #{uID,jdbcType=INTEGER},
      </if>
      <if test="uname != null" >
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="zname != null" >
        zname = #{zname,jdbcType=VARCHAR},
      </if>
      <if test="txnum != null" >
        txnum = #{txnum,jdbcType=VARCHAR},
      </if>
      <if test="txbank != null" >
        txbank = #{txbank,jdbcType=VARCHAR},
      </if>
      <if test="txmoney != null" >
        txmoney = #{txmoney,jdbcType=VARCHAR},
      </if>
      <if test="dzmoney != null" >
        dzmoney = #{dzmoney,jdbcType=VARCHAR},
      </if>
      <if test="sxf != null" >
        sxf = #{sxf,jdbcType=VARCHAR},
      </if>
      <if test="txtime != null" >
        txtime = #{txtime,jdbcType=TIMESTAMP},
      </if>
      <if test="zztime != null" >
        zztime = #{zztime,jdbcType=TIMESTAMP},
      </if>
      <if test="statu != null" >
        statu = #{statu,jdbcType=VARCHAR},
      </if>
      <if test="shwho != null" >
        shwho = #{shwho,jdbcType=VARCHAR},
      </if>
      <if test="shtime != null" >
        shtime = #{shtime,jdbcType=TIMESTAMP},
      </if>
      <if test="nothing != null" >
        nothing = #{nothing,jdbcType=VARCHAR},
      </if>
    </set>
    where wID = #{wID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.p2pSSM.model.Withdrawal" >
    update withdrawal
    set uID = #{uID,jdbcType=INTEGER},
      uname = #{uname,jdbcType=VARCHAR},
      zname = #{zname,jdbcType=VARCHAR},
      txnum = #{txnum,jdbcType=VARCHAR},
      txbank = #{txbank,jdbcType=VARCHAR},
      txmoney = #{txmoney,jdbcType=VARCHAR},
      dzmoney = #{dzmoney,jdbcType=VARCHAR},
      sxf = #{sxf,jdbcType=VARCHAR},
      txtime = #{txtime,jdbcType=TIMESTAMP},
      zztime = #{zztime,jdbcType=TIMESTAMP},
      statu = #{statu,jdbcType=VARCHAR},
      shwho = #{shwho,jdbcType=VARCHAR},
      shtime = #{shtime,jdbcType=TIMESTAMP},
      nothing = #{nothing,jdbcType=VARCHAR}
    where wID = #{wID,jdbcType=INTEGER}
  </update>
</mapper>